.conteiner {
    display: grid;
    width: 650px;
    height: 470px;
    justify-content: center;
    align-items: center;
    filter: blur(-3px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.548);
    backdrop-filter: blur(5px);
    

}

.conteinerTwo {
    margin: 0;
}

.conteiner img{
    height: 72.5vh;
}

.nameProduct {
    font-size: 28px;
    margin-left: 20px;
}

.conteinerInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 60px;
    
}

.discription {
    background-color: rgba(231, 231, 231, 0.815);
    padding: 20px;
}

.priceProduct {
    font-size: 35px;

}

.blockPay {
    width: 350px;
    
    position: fixed;
    margin-left: 130px;
    margin-top: 85px;
    
    display: grid;
    grid-template-columns: 1fr;
}

.pay {
    margin-top: 20px;
    border-radius: 6px;
    background-color: #02d15c;
    color: white;
    height: 50px;
    border: 2px solid var(--purple-color-elem);
    font-size: 23px;
    font-style: bold;
    cursor: pointer;
}