.mainBlockCard {
    display: grid;
    margin-bottom: 60px !important;
    grid-auto-rows: 350px;
    margin-right: 20px;
}



.similar {
    display: grid;
    grid-auto-rows: 450px;
    grid-template-columns: 1fr 1fr;
    margin-right: 20px;
    margin-left: -10px;
}

.card {
    padding-bottom: 10px;
    background-color: rgb(27, 27, 27);
    box-shadow: 0px 10px 10px 3px rgb(15, 15, 15);
    margin-left: 5%;
    border-radius: 10px;
    height: 90%;
    word-wrap: break-word;
    cursor: pointer;
}

.card a {
    color: rgb(240, 240, 240);
    text-decoration: none;
}

.info {
    padding-left: 12px;
    padding-top: 20px;
    padding-right: 12px;
}

.priceBlock {
    font-size: 14px;
}

.imgCard {
    width: inherit;
    border-radius:7px;
    height: auto;
    transition: all .7s ease;

    &:hover {
        transform: scale(1.04);
    }
}

.conteinerImg {
    display: grid;
    width: 100%;
    height: 70%;
    overflow: hidden;
    justify-items: center;
    
    border-radius: 10px 10px 20px 20px;
}



@media (min-width: 2200px) {
    .mainBlockCard {
        grid-template-columns: repeat(7,1fr);
    }

    .g_c_deinc1 {
        grid-template-columns: repeat(7,1fr);
    }
}


@media (min-width: 1201px) {
    .mainBlockCard {
        grid-template-columns: repeat(5,1fr);
    }

    .g_c_deinc1 {
        grid-template-columns: repeat(4,1fr);
    }
}


@media  (max-width: 1200px) {
    .mainBlockCard {
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }

    .g_c_deinc1 {
        grid-template-columns: repeat(3,1fr);
    }
}


@media  (max-width: 870px) {
    .mainBlockCard {

        grid-template-columns: repeat(3,1fr);
    }

    .g_c_deinc1 {
        grid-template-columns: repeat(2,1fr);
    }
}

@media  (max-width: 720px) {
    
    .mainBlockCard {
        grid-template-columns: repeat(3,1fr);
    }

    .g_c_deinc1 {
        grid-template-columns: repeat(2,1fr);
    }

    .info {
        padding-top: 8px;

        & h3 {
            font-size: 17px;
        }

        & b {
            font-size: 14px;
        }
    }
}


@media (max-width: 572px){
    .mainBlockCard {
        display: grid;
        grid-auto-rows: 250px;
        grid-template-columns: repeat(2,1fr);
        margin-bottom: 0px;
    }

    .g_c_deinc1 {
        margin-bottom: 30px;
    }

    .info {
        padding-top: 5px;

        & h3 {
            font-size: 15px;
        }

        & b {
            font-size: 13px;
        }
    }

    .similar {
        grid-auto-rows: 350px;
    }
}


@media (max-width: 420px) {
    .similar {
        grid-auto-rows: 270px;
    }
}

