@font-face {
	font-family:robot;
	font-weight: 500;
	src: url(../assets/fonts/static/Roboto-Regular.ttf);
}


:root {
	--purple-color-elem: rgb(138, 26, 212)
}



body {
	background-color: rgb(17, 17, 17);
	color:  rgb(243, 242, 242);
	font-family: robot;
	margin: 0;
	padding: 0;
}


option {
	display: grid;
	background-color: rgb(255, 255, 255);
	border: none;
}