.scrolling {
	height: 91vh;
	overflow-y:scroll;
	overflow-x: hidden;
}

main {
	display: grid;
	grid-template-columns: 3fr 1fr;
}

.scrolling {
	&::-webkit-scrollbar {
		width: 5px 
	}
	

	&::-webkit-scrollbar-track {
		background-color: rgba(255, 255, 255, 0);
		border-radius: 2px;
	}


	&::-webkit-scrollbar-thumb {
		background-color: var(--purple-color-elem);
		border-radius: 3px;
	}
}


@media (max-width: 760px) {
	.scrolling::-webkit-scrollbar { width: 3.5px }
}